<% i= 1%>
<% for comentario in tarefa.comentarios do %>
  
  <% if lado=='esquerdo'%>
    <% if comentario.usuario == tarefa.solicitante %>
       <div id='comentario_preto'>
    <% else %>
       <div id='comentario_vermelho'>
	<% end %>
  <% else %>
  <% if comentario.usuario == tarefa.solicitante %>
     <div id='comentario_vermelho'>
  <% else %>
     <div id='comentario_preto'>
	<% end %>
  <% end %> 
  <%= i %>)  
  <%= comentario.descricao %></div>
  <% i+= 1%>
<% end %>
