<% content_for :leftside do %>
<% nome_usuario = ''''%>
<% for tarefa in @criadasPorMim do  %>
    <% if nome_usuario!= tarefa.usuario_executor.nome then %>
      <div id="nomeUsuario"><%= tarefa.usuario_executor.nome %> </div>
      <% nome_usuario = tarefa.usuario_executor.nome %> 
    <% end %>
   <div id="tarefa">
	<%= tarefa.descricao %>&nbsp;&nbsp;
    <%= link_to 'Alterar', edit_tarefa_path(tarefa) %>
    </div>
<br/>
<% end %>

<% end %>