<% content_for :leftside do %>
<% i=1 %>
<% for tarefa in @criadasPorMim do  %>
    <b><%= i %> )</b>
    <%= tarefa.usuario_executor.nome %>
	<%= tarefa.descricao %><br/>
    <td><%= link_to 'Alterar', edit_tarefa_path(tarefa) %></td>
    <% i+= 1%>
<% end %>

<% end %>