<br/>
<% #TODO   grvar para cada tarefa, um registro de avaliacao, de forma a contar o tempo decorrido da tarefa diferente por usuario %>
<% form_tag (:action=>"encaminhar", :controller=>"tarefas")  do |f| %>
 <%= hidden_field_tag :tarefa_id, tarefa.id %>
  <p>
   Usuário :
    <%= select :tarefa, :user_id, @usuarios %>
  </p>
  <br/>
  <p>
    <%= submit_tag "Encaminhar" %> 
  </p>
<% end %>
