<% form_tag( :action=>:create, :controller=>'comentarios') do |f| %>
 <%= hidden_field_tag :tarefa_id, tarefa.id %>
  <p>
   Comentário :<br/>
    <%= text_area_tag 'descricao', '' ,:size=>"20x3" %>
  </p>
  <p>
    <%= submit_tag "Enviar" %>
  </p>
<% end %>
