<% form_tag( :action=>:create, :controller=>'comentarios') do |f| %>
 <%= hidden_field_tag :tarefa_id, tarefa.id %>
  <p>
   Comentário :<br/>
    <%= text_area_tag 'descricao', '' ,:size=>"23x3" %>
  </p>
  <p>
    <br/><%= submit_tag "Enviar comentário" %>
  </p>
<% end %>
