<% for u in @usuarios do%>
<%= u %></br>
<% end%>
<% form_tag (:action=>"encaminhar", :controller=>"tarefas")  do |f| %>
 <%= hidden_field_tag :tarefa_id, tarefa.id %>
  <p>
   Usuário :
    <%= select :tarefa, :user_id, @usuarios %>
  </p>
  <p>
    <%= submit_tag "Encaminhar" %> 
  </p>
<% end %>
