Pausar
<br/>
<% form_tag( :action=>:create_pausar, :controller=>'tarefas') do %>
 <%= hidden_field_tag :tarefa_id, tarefa.id %>
  <p>
   Justificativa : <%= text_area_tag(:justificativa, '', :size=>"21x4") %>  <br/>
   <%= submit_tag "Pausar tarefa" %>
  </p>
<% end %>
