<H3><% form_tag :action=>"pausar_padrao",  :html=>{:name => "pausar"}  do %>

	<%= submit_tag "pausar todas", :name=>"pausar_todas"%>
	<%= select :pausa_padrao, :pausa_padrao_id, @pausas_padrao %>

<% end %></H3>