<% form_tag( :action=>:encerrar_tarefa, :controller=>'tarefas') do  %>
 <%= hidden_field_tag :id, tarefa.id %>
  <h1> Tem certeza que deseja encerrar esta tarefa ? </h1>
  <p>
   Comentário :<br/>
    <%= text_area_tag 'comentario_termino', '' ,:size=>"23x3" %>
  </p>
  <p>
    <br/><%= submit_tag "Encerrar tarefa" %>

  </p>
<% end %>
