<% content_for :leftside do %>
  esquerda
<% end %>
<% content_for :main do %>
  centro
<% end %>
<% content_for :rightside do %>
  direita
<% end %>

<% content_for :recados do %>
  <tr>
    <td>Este é um recado dinamico</td>
  </tr>
<% end %>
