<h1>Detalhes Sobre Usuarios has projeto</h1>
<p>
<p>
  <b>Usuarios:</b>
  <%=h @usuarios_has_projeto.usuarios_id %>
</p>

<p>
  <b>Projetos:</b>
  <%=h @usuarios_has_projeto.projetos_id %>
</p>


<%= link_to 'Alterar', edit_usuarios_has_projeto_path(@usuarios_has_projeto) %> |
<%= link_to 'Voltar', usuarios_has_projetos_path %>
</p>