<h1>Cadastro de Situação</h1>

<%= error_messages_for :situacao %>

<% form_for(@situacao) do |f| %>
  <p>
    <b>Descrição</b><br />   
       
    <%= f.text_field :descricao %>     
  </p>

  <br/>
  <p>
    <%= f.submit "Cadastrar" %>
  </p>
<% end %>
<p/><br/>
<%= link_to 'Voltar', situacaos_path %>
