<h1>Detalhes Sobre Situacao</h1>
<p>
<p>
  <b>Descricao:</b>
  <%=h @situacao.descricao %>
</p>


<%= link_to 'Alterar', edit_situacao_path(@situacao) %> |
<%= link_to 'Voltar', situacaos_path %>
</p>
