
<% for comentario in task.comentarios do %>
  
  <% if lado=='esquerdo'%>
    <% if comentario.user == task.solicitante %>
       <div id='comentario_preto'>
    <% else %>
       <div id='comentario_azul'>
	<% end %>
  <% else %>
    <% if comentario.user == task.solicitante %>
       <div id='comentario_azul'>
    <% else %>
      <div id='comentario_preto'>
	<% end %>
  <% end %> 
<ul class="comentario>"> <li><span class="hyphenate" lang="pt"><%= comentario.descricao %></span></li></ul></div>
<% end %>
