<H3><% form_tag :action=>"pauser_pattern",  :html=>{:name => "pauser"}  do %>

	<%= submit_tag t(:pause_all), :name=>"pauser_todas"%>
	<%= select :pattern_pause, :pattern_pause_id, @pauses_pattern %>

<% end %></H3>