<% form_tag( :action=>:create_pauser, :controller=>'tasks') do %>

 <%= hidden_field_tag :task_id, task.id %>
  <table class="transparent">
	<tr>
		<td valign="top"><%= t(:justification) %>:&nbsp; </td>
		<td><%= text_area_tag(:justification, '', :size=>"21x2") %></td>
    </tr>
    <tr>
	  <td>&nbsp;</td>
	  <td><br/><%= submit_tag t(:pause) %></td>
    </tr>
  </table>
<% end %>
</for>