<% form_tag( :action=>:create_pausar, :controller=>'tasks') do %>
 <%= hidden_field_tag :task_id, task.id %>
  <table>
	<tr>
		<td valign="top">Justificativa :&nbsp; </td>
		<td><%= text_area_tag(:justificativa, '', :size=>"21x2") %></td>
    </tr>
    <tr>
	  <td>&nbsp;</td>
	  <td><br/><%= submit_tag "Pausar task" %></td>
    </tr>
  </table>
<% end %>
