<% if @task.pausa_nao_aceita %>
  Pausa não aceita : <%= @pausa.comentario_solicitante %>
<% else %>
  <% if @task.sem_pausa %>
    <a href="#" onClick="Effect.toggle('pausar' , 'blind', { duration: 1.0 } ); return false;">pausar</a>
  <% else %>
    <% if @task.pausada_esperando_aprovacao %>
      <% if @task.solicitante == @usuario_logado %> 
        <a href="#" onClick="Effect.toggle('aprovar_reprovar' , 'blind', { duration: 1.0 } ); return false;">Aprovar / Reprovar pausa</a>
      <% else %>
        Aguardando aprovação
      <% end %>
   <% else %>
      <%= Pausa.da_task(@task.id).comentario_solicitante %>
      <%= link_to "Reiniciar a task", :controller=>"tasks", :action=>"reiniciar_a_task" , :task_id=> @task.id %>          
    <% end %>
  <% end %>
<% end %>
