<% content_for :leftside do %>
 
  <%= render :partial=>"minhasSolicitacoes" %>
<% end %>
<% content_for :main do %>
  <%= link_to t(:new_task), new_task_path %>
  
<% end %>
<% content_for :rightside do %>
  <%= render :partial=>"minhas_tasks" %>
<% end %>
<% content_for :lado_sem_usuario do %>
  <%= render :partial=>"tasks_sem_usuario"%>
<% end %>

<% content_for :recados do %>
  <tr>
    <td>Este é um recado dinamico</td>
  </tr>
<% end %>
