<% content_for :leftside do %>
 
  <%= render :partial=>"my_requests" %>
<% end %>
<% content_for :main do %>
  <%= link_to t(:new_task), new_task_path %>
  
<% end %>
<% content_for :rightside do %>
  <%= render :partial=>"my_tasks" %>
<% end %>
<% content_for :lado_sem_usuario do %>
  <%= render :partial=>"tasks_without_user"%>
<% end %>

<% content_for :messages do %>
  <tr>
    <td>Este é um message dinamico</td>
  </tr>
<% end %>
