<p>
  <b>Usuario:</b>
  <%=h @comentario.usuario_id %>
</p>

<p>
  <b>Descricao:</b>
  <%=h @comentario.descricao %>
</p>


<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
