#calendar{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   10px;
  line-height: 11px;
  color: #455A79;
}
#mytable {
	width: 500px;
	padding: 0em;
	margin: 1em;
    border:  1px solid #ccc;
}

#mytable  td {
  padding: 0em;
  border: 1px #455A79 solid; 
  
}

#mytable  trr {
 height: 65px; 
}
#trth{
	height: 30px;
}
#mytable th { background: #455A79; 
	color :white;
	border: 1px white solid; 
  }