#month_calendar{
	font-size: 14px;
}
#calendar{
  font-family: "Trebuchet MS", Verdana, Times, serif;
  font-size:   11px;
  line-height: 11px;
  color: #000;
  border-bottom:1px;
  border-right:1px;
}
#mytable {
	padding: 0em;
	margin: 1em;
    border-top:  1px solid #ccc;
	border-left:  1px solid #ccc;
    border-right: 1px solid #ccc;
	position: center;
}

#mytable  td {
  padding: 5px;
  color:#B03060;
  text-align: left;
  border-right: 1px #ccc solid; 
  border-bottom: 1px #ccc solid;
  width:89px;
  height:70px;

}
#mytable a {
	  text-decoration: none;
}

#mytable a:hover {
    color: #C9C9C9;
    text-decoration: underline;
}


#mytable  tr {
 height: 20px; 
}

#mytable th { background: #5a78a5; 
	text-align: center;
	color :white;
	border-right: 1px #ccc solid; 
  }