#month_calendar{
	font-size: 14px;
}
#calendar{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   10px;
  line-height: 11px;
  color: #455A79;
}
#mytable {
	width: 500px;
	padding: 0em;
	margin: 1em;
    border-top:  1px solid #ccc;
	border-left:  1px solid #ccc;
}

#mytable  td {
  padding: 0em;
  border-right: 1px #ccc solid; 
  border-bottom: 1px #ccc solid;
  width:65px;
}

#mytable  tr {
 height: 65px; 
}

#mytable th { background: #5a78a5; 
	text-align: center;
	color :white;
	border-right: 1px #ccc solid; 
  }