<h1>Detalhes Sobre Permissao</h1>
<p>
<p>
  <b>Descricao:</b>
  <%=h @permissao.descricao %>
</p>


<%= link_to 'Alterar', edit_permissao_path(@permissao) %> |
<%= link_to 'Voltar', permissaos_path %>
</p>