<h1>Detalhes Sobre Categorias has permissao</h1>
<p>
<p>
  <b>Categorias:</b>
  <%=h @categorias_has_permissao.categoria_id %>
</p>

<p>
  <b>Permissaos:</b>
  <%=h @categorias_has_permissao.permissaos_id %>
</p>


<%= link_to 'Alterar', edit_categorias_has_permissao_path(@categorias_has_permissao) %> |
<%= link_to 'Voltar', categorias_has_permissaos_path %>
</p>