<p>
  <%= link_to 'Cadastrar Novo Categoria', new_categoria_path %>
</p>
<%  @export = false  %>
<table class="tableNegocios">
  <tfoot>
    <tr>
      <th scope="row" colspan="8"><%=  link_to 'Exportar para Excel',  show_export_categorias_url  %></th>
    </tr>
  </tfoot>
  </tbody>
  <%=  render(:partial => "header_list")  %>
  <%=  render(:partial => "categoria", :collection => @categorias, :object => @export)  %>
  </tbody>
</table>

<br />


