<%= error_messages_for :categoria %>

<% form_for(@categoria, :html => { :multipart => true }) do |f| %>
   <div class="depot-form">
     <fieldset>
       <p>
         <legend>Dados do Categoria <%=  @categoria.nome  %> </legend>
         <label for="categoria_nome">Nome:</label>
         <%= f.text_field :nome, :size =>  "53" , :readonly => true %>     
       </p>
     </fieldset>
   </div> 
<% end %>

<%= link_to 'Voltar', categorias_path %>
