<p>
  <b>Nome:</b>
  <%=h @andamento.nome %>
</p>

<p>
  <b>Ativo:</b>
  <%=h @andamento.ativo %>
</p>


<%= link_to 'Edit', edit_andamento_path(@andamento) %> |
<%= link_to 'Back', andamentos_path %>
