<thead>
  <tr> 
    <%  unless @export  -%>
         
    <%  end  -%>
   <th>Empresa</th>
   <th>Cnpj</th>
   <th>Municipio</th>
   <th>Estado</th>
   <th>Site</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
