<% content_for :main do%>
<p>
  <%= link_to 'Cadastrar Empresa', new_empresa_path %>
</p>
<br>
<%  @export = false  %>
<table class="tableNegocios">
  <tfoot>
    
  </tfoot>
  </tbody>
  <%=  render(:partial => "header_list")  %>
  <%=  render(:partial => "empresa", :collection => @empresas, :object => @export)  %>
  </tbody>
</table>

<br />

<% end %>
