<tr class="<%= cycle("even", "odd") -%>">
  
  <td width="120px"><%=h category.name %></td>
     <td><%= link_to t(:show), category %></td>
     <td><%= link_to t(:edit), edit_category_path(category) %></td>
     <td><%= link_to t(:destroy), category, :confirm => 'Deseja realmente excluir a categoria ' + category.name + '?', :method => :delete %></td>
</tr>
