<tr class="<%= cycle("even", "odd") -%>">
  
  <td><%=h category.name %></td>
     <td><%= link_to 'Mostrar', category %></td>
     <td><%= link_to 'Alterar', edit_category_path(category) %></td>
     <td><%= link_to 'Excluir', category, :confirm => 'Deseja realmente excluir o categories ' + category.name + '?', :method => :delete %></td>
</tr>
