<%   require 'brazilian-rails'  %>

<% form_for(@category, :html => { :multipart => true }) do |f| %>
   <div class="depot-form">
     <fieldset>
       <p>
         <legend> <%=  @formulario_label  %> </legend>
       </p>
    
       <p>
         <label for="category_name">Nome:</label>
         <%= f.text_field :name, :size =>  "55" %>     
       </p>

       <p>
         <%= f.submit  @submit_label, :class => "submit"  %>
       </p><br/>
    
     </fieldset>
   </div> 
<% end %>