<% content_for :main do%>
<p>
  <%= link_to 'Cadastrar Novo Categoria', new_category_path %>
</p>
<%  @export = false  %>
<table class="tableNegocios">
  <tbody>
  <%=  render(:partial => "category", :collection => @categories)  %>
  </tbody>
</table>

<br />

<% end %>
