<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >

<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <title>Follow - Sistema de acompanhamento e avaliação de tarefas</title>
  <!-- This must be first -->
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "calendar_date_select/format_italian" %>
  <%= calendar_date_select_includes :style=>"silver", :format =>"italian", :locale=>"fi" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "find_address" %>
  <%= table_stylesheet_link_tag "coffee_with_milk" %>
</head>

<body>

  <%= stylesheet_link_tag 'styles' , 'menu', 'tableNegocios' %>

  <div id="container">

<div>
  <div id="cabecalho">
    <div id="banner" >
      <%=  @page_title  %>
    </div>
	<div id="notice_container">  
	<% if flash[:notice] -%>
      <div id="notice"><%= flash[:notice] %></div>
    <% end -%>
	</div>
	<div id="user">
        Usuário: <%= Usuario.find(session[:usuario_id]).nome unless session[:usuario_id].nil? %><br>
        Perfil: <%= session[:perfil] %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to '(Sair)', url_for(:action => 'logout', :controller => 'login') %>
     </div>
  </div>
</div>
    
       
    <div class="pd_menu_01 ">
      <ul><li><a href="/index.html">Home</a>
      </li></ul>
      <ul><li><a href="#">Cadastros</a>
          <ul>
            <li><a href="/projetos"  >Projetos</a></li>
            <li><a href="/empresas"  >Empresas</a></li>
            <li><a href= <%=  url_for(:controller => 'login', :action => 'list_usuarios')  %>  >Usuários</a></li>
            <li><a href="/categorias"  >Grupo de Usuários</a></li>
          </ul>
      </li></ul>
      <ul><li><a href="#">Relatorios</a>
      </li></ul>
      <ul><li><a href="/recados">Recados</a>
      </li></ul>
      <ul><li><a href="/tarefas">Tarefas</a>
      </li></ul>
      <ul><li><a href="#">Agenda</a>
      </li></ul>
      <ul><li><a href="#">Avaliação</a>
      </li></ul>
      <ul><li><a href="#">Ajuda</a>
      </li></ul>
      <ul><li><a href="#">Suporte</a></li></ul>
      
      
    </div>

    <div id="leftsidebar">
      <h2>Minhas solicitações para:</h2>
      <%= yield :leftside %>
    </div>



    <div id="rightsidebar">
      <h2>Direcionar</h2>
      <div id="rightsidebartext">
        <%= yield :lado_sem_usuario %>
      </div>
	  <h2>Minhas tarefas:</h2>
      <div id="rightsidebartext">
        <%= yield :rightside %>
      </div>

    </div>

    <div id="main">

      <div id="contenttxt" >
        <%= yield :main %>
      </div>

    </div>


    <div id="recados" align="center" >
      <table >
        <%= yield :recados %>
      </table>
    </div>



  </div>

  <div id="footer_text">
    © 2009 - <a href="http://www.wayoftheweb.net/"><strong>Way of the web</strong></a>
    - Todos os direitos reservados
  </div>
</body>
</html>
